#section-counter{
	min-height: 545px;
}
#section-counter:after{
	background: none !important;
}
.heading-section .subheading {
    font-size: 20px;
}
.testimony-wrap .user-img .quote{
	width: 30px;
	height: 30px;
}
.star{
	display:block;
}
p{
    font-size: 15px;
    font-weight: 400;
}
.hotel-img{
	background-size: 90%;
	height: 400px;
}
.owl-carousel .owl-nav .owl-prev {
    left: -25px !important; 
    opacity: 1 !important;
}
.owl-carousel .owl-nav .owl-next {
    right: -25px !important; 
    opacity: 1 !important;
}
.ftco-navbar-light {
    background-color: rgba(0, 0, 0, 0.4) !important;
    /*background-color: rgba(57, 152, 221, 0.4) !important;*/
}
.contact-label{
    font-weight: bold;
    margin-bottom:0;
}
#notification_li{position:relative}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 5px;
    margin-left: 0;
    width: 213px; /*400px;*/
    z-index: 999;
    display: none;
}
/*#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent white;
    margin-top: -20px;
    margin-left: 188px;
}*/
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 13px;
    background-color: #ffffff;
    width: 210px; /*384px;*/
    border-bottom: 1px solid #dddddd;
}
#notificationsBody {
    padding: 0 !important;
    min-height:195px;
}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;
}
#notification_count {
    padding: 3px 7px 3px 7px;
    background: #FF0000;/*#cc0000*/ /*#3796D3*/
    color: #ffffff;
    font-weight: bold;
    margin-left: 235px;
    border-radius: 9px;
    position: absolute;
    margin-top: 0;
    font-size: 11px;
}
.notificationslist{
    border-bottom:1px solid #ccc;
    padding-left:10px;
    min-height:50px;
    cursor:pointer;
}
.notificationsText{
    color:#333;
    font-size:12px;
    line-height: 1.34;
    font-family:helvetica,arial, helvetica, sans-serif;
    padding-left:10px;/*35px;*/
    padding-top:10px;
}
.notificationsText p{
    color:#999;
    text-align:right;
    margin:0;
    padding-right:10px;
}
.notificationsImg{
    float:left;
    padding-top:5px;
}
.notificationsImg img{
    width: 40px;
}
.notifications a{
    display:block;
}
.newNotifications{
    background-color:#e9eaed;
}
.form-check-label p {
    margin-bottom: 0;
}
.misafir-baslik {
    font-weight: bold;
    font-size: 18px;
    color: #004075;
}

@media(max-width:900px)
{
    .mobile-none{
        display:none;
    }
}